# BACKEND 
API_V1_STR="/api/v1"
  
DB_ENGINE="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="postgres"
DB_PORT="5432"
DB_DATABASE="good_place"
DB_DATABASE_TEST="test_good_place"

MAX_INT_32BITS=2_147_483_647

ACCESS_TOKEN_SECRET_KEY="98e4d034423c056398bc0193c3807d51b8a4e4e879a7a7efe28e098084918024"
REFRESH_TOKEN_SECRET_KEY="124d034423c056398bc0193c3807d51b8a4e4e879a7a7efe28e098084918024"
JWT_EXPIRE_TIME=15
CORS_ORIGIN=["http://localhost:3000", "https://localhost:3000"]
